


    <div class="container">
          <!-- <a [href]="facebookUrl">Visit us on Social Media</a> -->
          <a [href]="getSocialMediaLink()">Visit us on Social Media</a> <br>

          <a href="{{getSocialMediaLink()}}">Visit us on Social Media</a>
 
    </div>

    <div class="container">
           <span>Date using property : {{today}}</span>  <br>
           <span>Date using method : {{ getCurrentDate()}}</span> <br>
           <span>You have accessed this page : {{accessCount}} times today..</span>
           <h1 class="text-primary">{{title}}</h1>

           <button type="button" class="btn btn-secondary" [disabled]="isDisabled">Login</button> <br>
           <!-- <button type="button" class="btn btn-secondary" disabled="{{isDisabled}}">Login</button> -->
    </div>

    <br>

   <div class="container">
      <p> Current Email :  {{email}} </p>
      <button type="button" class="btn btn-warning"   (click)="updateEmail('demo@outlook.com')">Update Email</button>
   </div>

   <br>
   <div class="container">
       <form action="" class="form">
           <div>
              <label for="updateAddress">Update Address</label>
              <input type="text" name="address" [(ngModel)]="address" placeholder=""/>
              <span *ngIf="address.length < 6" class="text-danger">Invalid Address</span> 

               <p>Address has been changed to : {{address}}</p>
           </div>
       </form>
   </div>


   <div class="container">
       <h3>Pipes Demo</h3>
       Current Date : <span>{{today | date:'MM/dd/yyyy'}} </span>   <br>
       Username : <span>{{username | titlecase}} </span> <br>
       <!-- Balance : <span>{{balance | currency}} </span> <br> -->
       Balance : <span>{{balance | currency:'INR'}} </span> <br>
       Profile Completion : <span>{{profileComplPercent | percent}} </span> <br>
   </div>